body {
    background: url("../image/wallpaper.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
}

a:hover {
    color: cyan;
}

a:visited {
    color: yellow;
}

img {
    opacity: 0.95;
    border: 2px solid #cccccc;
    border-radius: 50%;
}

.header-main {
    text-align: center;
    padding: 20px;
}

.content {
    color: #F5EB6E;
    font-size: 20px;
    max-width: 700px;
    margin: 30px auto;
    padding: 15px;
    border: 4px solid #cccccc;
    border-radius: 30px;
    line-height: 1.7;
    backdrop-filter: blur(30px);
}

.content h1 {
    color: antiquewhite;
    text-align: center;
    font-family: TsangerYuMo;
    font-style: italic;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
}

.corner-botton {
    width: 30px;
    height: 30px;
    position: fixed;
    background-color: #FFF;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.corner-botton button {
    height: 30px;
    border: 0;
    padding: 0;
}

.corner-botton button :hover {
    background-color: aqua;
}

.corner-botton button img {
    width: 30px;
    height: 30px;
    border: 0;
}

.footer {
    text-align: center;
    margin: 100px auto;
    padding: 10px;
    font-size: 15px;
}

.footer p {
    color: aliceblue;
}
