* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/wallpaper.jpg") no-repeat fixed center top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
}

a:hover {
    color: cyan;
}

a:visited {
    color: yellow;
}

.header {
    height: 60px;
    background-color: #f6f8fa;
    color: #969fb2;
}

.header div {
    display: inline-block;
    margin: auto;
}


#avatar img {
    margin: 5px;
    width: 35px;
    height: 50px;
    border: 0;
    border-radius: 50%;
}

#open-btn img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

#leftsb {
    float: left;
    width: 0px;
    height: 100vh;
    background-color: #fff;
}

.content {
    color: #F5EB6E;
    font-size: 20px;
    max-width: 550px;
    margin: 30px auto;
    padding: 15px;
    border: 4px solid #cccccc;
    border-radius: 30px;
    line-height: 1.7;
    backdrop-filter: blur(30px);
}

.content h1 {
    color: antiquewhite;
    text-align: center;
    font-family: TsangerYuMo;
    font-style: italic;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
}

.corner-botton {
    padding: 3px;
    width: 30px;
    height: 30px;
    position: fixed;
    background-color: #FFF;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.corner-botton button {
    height: 30px;
    border: 0;
    padding: 0;
}

.corner-botton button :hover {
    background-color: aqua;
}

.corner-botton button img {
    width: 30px;
    height: 30px;
    border: 0;
}

.footer {
    text-align: center;
    margin: 100px auto;
    padding: 10px;
    font-size: 15px;
}

.footer p {
    color: aliceblue;
}