* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-size: 16px;
    background-image: url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    border-top: 2px solid aqua;
    height: 75px;
    background-color: pink;
    padding: 10px;
    display: -webkit-box;
    -webkit-box-align: center;
}

.header-left {
    padding-left: 100px;
    display: -webkit-inline-box;
    -webkit-box-align: center;
    margin-right: 400px;
}

.header-left .logo {
    display: inline-block;
    margin-right: 30px;
}

.header-left .logo img {
    width: 70px;
    height: 70px;
}

.header-center {
    margin-right: 500px;
}

.header-center .links a {
    color: #111314;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 0 10px;
}

.header-right .btn a {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 20px;
    margin: 0 10px;
}

.container .description {
    border: 2px dashed black;
    border-radius: 30px;
    padding: 30px;
    width: 800px;
    margin: 90px auto;
    backdrop-filter: blur(30px);
}

.container .description h1 {
    text-align: center;
    color: red;
}

.container .description p {
    margin-top: 50px;
    font-size: 20px;
}

.corner-botton {
    padding: 3px;
    width: 30px;
    height: 30px;
    position: fixed;
    background-color: #FFF;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.corner-botton button {
    height: 30px;
    border: 0;
    padding: 0;
}

.footer {
    text-align: center;
    margin: 100px auto;
    padding: 10px;
    font-size: 15px;
}

.footer p {
    color: aliceblue;
}


#open-btn img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

#leftsb {
    float: left;
    width: 0px;
    height: 100vh;
    background-color: #fff;
}

.corner-botton {
    padding: 3px;
    width: 30px;
    height: 30px;
    position: fixed;
    background-color: #FFF;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.corner-botton button {
    height: 30px;
    border: 0;
    padding: 0;
}

.corner-botton button :hover {
    background-color: aqua;
}

.corner-botton button img {
    width: 30px;
    height: 30px;
    border: 0;
}